@media (max-width: 900px) and (min-width: 661px), (max-width: 495px) {
  .summary {
    &__value {
      display: block;
    }
  }
}

@media (max-width: 660px) {
  .header {
    flex-direction: column;

    &__img {
      width: 30px;
      height: 30px;
    }
  }

  .app-body {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .balance {
    &__title {
      font-size: 18px;
    }

    &__date {
      font-size: 14px;
    }

    &__value {
      font-size: 30px;
    }
  }
}
