//hiding arros
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

//COLORS
$main-color: #f3f3f3;
$green-color: linear-gradient(to top left, #39b385, #9be15d);
$red-color: linear-gradient(to top left, #e52a5a, #ff585f);
$orange-color: linear-gradient(to top left, #ffb003, #ffcb03);

//UTILITIES
.c-green {
  color: #66c873;
}

.c-red {
  color: #f5465d;
}

.bg {
  &-orange {
    background: $orange-color;
  }
  &-green {
    background: $green-color;
  }
  &-red {
    background: $red-color;
  }
}

.m-t-b-20 {
  margin: 20px 0px;
}

.m-l-r-10 {
  margin: 0px 10px;
}

//CLASSES
.btn {
  font-size: 20px;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  white-space: nowrap;

  &:active {
    transform: scale(0.95);
  }

  &_oper {
    background-color: #fff;
  }

  &_sort {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.8;
  }
}
