//hiding arros
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

//UTILITIES
.c-green {
  color: #66c873;
}

.c-red {
  color: #f5465d;
}

.bg {
  &-orange {
    background: $orange-color;
  }
  &-green {
    background: $green-color;
  }
  &-red {
    background: $red-color;
  }
}

.m-t-b-20 {
  margin: 20px 0px;
}

.m-l-r-10 {
  margin: 0px 10px;
}

//CLASSES
.btn {
  font-size: 20px;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  white-space: nowrap;

  &:active {
    transform: scale(0.95);
  }

  &_oper {
    background-color: #fff;
  }

  &_sort {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.8;
  }

  &_request {
    padding: 5px 10px;
    font-size: 17px;
    color: #fff;
    opacity: 0.9;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  }
}

.requests__entry_empty {
  justify-content: center;
  padding: 20px;
  font-size: 17px;
}
