$main-color: #f3f3f3;
$green-color: linear-gradient(to top left, #39b385, #9be15d);
$red-color: linear-gradient(to top left, #e52a5a, #ff585f);
$orange-color: linear-gradient(to top left, #ffb003, #ffcb03);
