@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
@import "_variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  background-color: $main-color;
  color: #444;
  padding: 20px;
}

body.hidden {
  .header__form {
    display: flex;
  }
  .wrapper {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;

  &__title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  &__img {
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  &__form {
    display: none;
    align-items: center;
  }

  &__input {
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    outline: none;
    width: 120px;
    text-align: center;
    border-radius: 20px;

    &:focus {
      border: 1px solid #ccc;
    }

    &::placeholder {
      color: #ccc;
      font-weight: 500;
    }
  }
}

.wrapper {
  max-width: 1000px;
  margin: 20px auto;
  transition: all 0.5s ease;
}

.app-body {
  display: flex;

  &__col {
    flex: 1;
  }
}

.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-weight: 500;
    font-size: 22px;
  }

  &__date {
    font-size: 16px;
    opacity: 0.7;
  }

  &__value {
    font-size: 42px;
    font-weight: 400;
  }
}

.timer {
  text-align: center;
  margin: 5px;

  &__time {
    font-weight: 700;
  }

  &__log-out {
    width: fit-content;
    margin: auto;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;

    &:active {
      transform: scale(0.95);
    }
  }
}

.summary {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px;

  &__value {
    font-size: 18px;
    font-weight: 600;
  }

  &__info {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }
}

.movements {
  height: 500px;
  margin: 10px 0px;
  overflow-y: auto;

  &__entry {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;

    &:first-of-type {
      margin-top: 0px;
    }
  }

  &__type {
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 10px;
  }

  &__date {
    font-size: 14px;
    margin-right: auto;
    opacity: 0.9;
    letter-spacing: 0.5px;
  }

  &__value {
    font-weight: 600;
  }
}

.operation {
  padding: 30px;
  margin: 10px;
  border-radius: 20px;

  &__controls {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1.2fr;
    gap: 2.5px 10px;

    &_loan {
      grid-template-columns: 2.5fr 1.2fr 2.5fr;
    }
  }

  &__title {
    font-size: 20px;
  }

  &__input {
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #444;
  }

  &__label {
    display: block;
    width: 100%;
    text-align: center;

    &_loan {
      grid-row: 2;
    }
  }
}

.requests {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;

  &__col {
    flex: 1;
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__body {
  }

  &__entry {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    border-radius: 5px;
  }

  &__ammount {
    font-size: 17px;
    font-weight: 600;
  }

  &__from {
    margin-top: 2.5px;
  }

  &__date {
    @extend .movements__date;
    margin-right: none;
    margin-left: 10px;
  }

  &__controls {
  }

  &__status {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}

@import "_utilities.scss";
@import "_media.scss";
