@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
@import "_utilities.scss";
@import "_media.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  background-color: $main-color;
  color: #444;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;

  &__title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  &__img {
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    outline: none;
    width: 120px;
    text-align: center;
    border-radius: 20px;

    &:focus {
      border: 1px solid #ccc;
    }

    &::placeholder {
      color: #ccc;
      font-weight: 500;
    }
  }
}

.wrapper {
  max-width: 1000px;
  margin: 20px auto;
}

.app-body {
  display: flex;

  &__col {
    flex: 1;
  }
}

.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-weight: 500;
    font-size: 22px;
  }

  &__date {
    font-size: 16px;
    opacity: 0.7;
  }

  &__value {
    font-size: 46px;
    font-weight: 400;
  }
}

.timer {
  text-align: center;

  &__time {
    font-weight: 700;
  }
}

.summary {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;

  &__value {
    font-size: 19px;
    font-weight: 700;
  }

  &__info {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }
}

.movements {
  height: 460px;
  margin: 10px 0px;
  overflow-y: auto;

  &__entry {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;

    &:first-of-type {
      margin-top: 0px;
    }
  }

  &__value {
    font-weight: 600;
  }

  &__type {
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 10px;
  }
}

.operation {
  padding: 30px;
  margin: 10px;
  border-radius: 20px;

  &__controls {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1.2fr;
    gap: 2.5px 10px;

    &_loan {
      grid-template-columns: 2.5fr 1.2fr 2.5fr;
    }
  }

  &__title {
    font-size: 20px;
  }

  &__input {
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 30px;
    border: none;
    opacity: 0.4;
    border-radius: 10px;
    outline: none;
  }

  &__label {
    display: block;
    width: 100%;
    text-align: center;

    &_loan {
      grid-row: 2;
    }
  }
}
