@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.c-green {
  color: #66c873;
}

.c-red {
  color: #f5465d;
}

.bg-orange {
  background: -webkit-gradient(linear, right bottom, left top, from(#ffb003), to(#ffcb03));
  background: linear-gradient(to top left, #ffb003, #ffcb03);
}

.bg-green {
  background: -webkit-gradient(linear, right bottom, left top, from(#39b385), to(#9be15d));
  background: linear-gradient(to top left, #39b385, #9be15d);
}

.bg-red {
  background: -webkit-gradient(linear, right bottom, left top, from(#e52a5a), to(#ff585f));
  background: linear-gradient(to top left, #e52a5a, #ff585f);
}

.m-t-b-20 {
  margin: 20px 0px;
}

.m-l-r-10 {
  margin: 0px 10px;
}

.btn {
  font-size: 20px;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  white-space: nowrap;
}

.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn_oper {
  background-color: #fff;
}

.btn_sort {
  font-size: 17px;
  font-weight: 500;
  opacity: 0.8;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  background-color: #f3f3f3;
  color: #444;
  padding: 20px;
}

body.hidden .header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.hidden .wrapper {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
}

.header__title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

.header__img {
  width: 50px;
  height: 50px;
}

.header__img img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.header__form {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__input {
  border: none;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  outline: none;
  width: 120px;
  text-align: center;
  border-radius: 20px;
}

.header__input:focus {
  border: 1px solid #ccc;
}

.header__input::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 500;
}

.header__input:-ms-input-placeholder {
  color: #ccc;
  font-weight: 500;
}

.header__input::-ms-input-placeholder {
  color: #ccc;
  font-weight: 500;
}

.header__input::placeholder {
  color: #ccc;
  font-weight: 500;
}

.wrapper {
  max-width: 1000px;
  margin: 20px auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.app-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-body__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.balance__title {
  font-weight: 500;
  font-size: 22px;
}

.balance__date {
  font-size: 16px;
  opacity: 0.7;
}

.balance__value {
  font-size: 42px;
  font-weight: 400;
}

.timer {
  text-align: center;
  margin: 5px;
}

.timer__time {
  font-weight: 700;
}

.timer__log-out {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
}

.timer__log-out:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  gap: 12px;
}

.summary__value {
  font-size: 18px;
  font-weight: 600;
}

.summary__info {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.movements {
  height: 500px;
  margin: 10px 0px;
  overflow-y: auto;
}

.movements__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.movements__entry:first-of-type {
  margin-top: 0px;
}

.movements__type {
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 10px;
}

.movements__date {
  font-size: 14px;
  margin-right: auto;
  opacity: 0.9;
  letter-spacing: 0.5px;
}

.movements__value {
  font-weight: 600;
}

.operation {
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
}

.operation__controls {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 2.5fr 1.2fr;
      grid-template-columns: 2.5fr 2.5fr 1.2fr;
  gap: 2.5px 10px;
}

.operation__controls_loan {
  -ms-grid-columns: 2.5fr 1.2fr 2.5fr;
      grid-template-columns: 2.5fr 1.2fr 2.5fr;
}

.operation__title {
  font-size: 20px;
}

.operation__input {
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 30px;
  border: none;
  opacity: 0.4;
  border-radius: 10px;
  outline: none;
}

.operation__label {
  display: block;
  width: 100%;
  text-align: center;
}

.operation__label_loan {
  -ms-grid-row: 2;
  grid-row: 2;
}

@media (max-width: 900px) and (min-width: 661px), (max-width: 495px) {
  .summary__value {
    display: block;
  }
}

@media (max-width: 660px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__img {
    width: 30px;
    height: 30px;
  }
  .app-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .balance__title {
    font-size: 18px;
  }
  .balance__date {
    font-size: 14px;
  }
  .balance__value {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */