@media (max-width: 1150px) {
  .showcase {
    &__content {
      flex-direction: column;
    }

    &__col-text {
      align-self: flex-start;
    }

    &__col-img {
      align-self: flex-end;
      max-width: 400px;
    }
  }
}

@media (max-width: 830px) {
  .btn {
    &_oper {
      padding: 10px 20px;
      margin: 5px;
      font-size: 0.8rem;
    }

    &_closing {
      grid-column: 1 / span 2;
      margin: auto;
    }
  }

  .info {
    &__buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      padding: 45px 20px 25px 20px;

      &-active {
        display: flex;
        flex-direction: column;
      }
    }

    &__icon {
      display: none;
    }

    &__text {
      grid-column: 1;
    }
  }

  .slider {
    &__row {
      display: none;
    }
  }

  .testimonial {
    &__text {
      -webkit-line-clamp: 4;
    }

    &__body {
      width: 100%;
    }

    &__quote {
      top: 35px;
      font-size: 8rem;
    }

    &__dots {
      margin-top: 20px;
    }
  }
}

@media (max-width: 740px) {
  .navbar {
    padding: 10px 25px;

    &__menu {
      display: none;
    }

    &__mobile {
      display: block;
    }
  }

  .showcase {
    &__content {
      padding: 30px;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      font-size: 1.2rem;
    }
  }

  .section-header__text {
    font-size: 1.65rem;
  }

  .grid-items {
    grid-template-columns: 1fr;
  }

  .section {
    padding: 20px;
  }

  .modal {
    padding: 30px;

    &__title {
      font-size: 1.6rem;
    }

    &__form {
      padding: 0;
    }
  }
}

@media (max-height: 400px) {
  .showcase {
    &__col-img {
      display: none;
    }
  }
}

@media (max-width: 340px) {
  .showcase {
    &__title {
      font-size: 1.4rem;
    }
  }
}
