@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
@import '_variables', '_utilities', '_modal', '_navbar', '_slider';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color: #f3f3f3;
}

img {
  width: 100%;
}

.showcase {
  height: $showcase-width;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    padding: 30px 50px;
    max-width: 1450px;
    margin: auto;
  }

  &__col-text {
    flex: 1;
  }

  &__title {
    white-space: nowrap;
    font-size: 3.5rem;
  }

  &__subtitle {
    margin-top: 4%;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__col-img {
    flex: 1;
    max-width: 500px;
  }
}

.section {
  position: relative;
  z-index: 1;
  padding: 60px 40px;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 90%;
    top: 0px;
    background-color: #444;
    opacity: 0.1;
    left: 50%;
    transform: translate(-50%);
  }
}

.section-header {
  max-width: 900px;
  margin: auto;
  margin-bottom: 40px;

  &__title {
    text-transform: uppercase;
    color: $color-primary;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 500;
  }
}

.grid-items {
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
  margin: auto;
  padding: 40px 0px;

  &__img {
    &_reverse {
      grid-row: 3;
    }
  }

  &__block {
    max-width: 80%;
    margin: auto;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 15px 0px;
  }

  &__text {
    font-size: 1.1rem;
    opacity: 0.7;
    font-weight: 300;
  }
}

.info {
  background-color: #fff;
  max-width: 1100px;
  margin: 80px auto;
  border-radius: 10px;

  &__buttons {
    width: fit-content;
    height: 48px;
    margin: auto;
  }

  &__icon {
    @extend .item-icon;
  }

  &__wrapper {
    display: none;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 5px;
    padding: 60px;
    padding-top: 20px;
    line-height: 1.6;
    align-items: center;

    &-active {
      display: grid;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__text {
    font-size: 1.1rem;
    opacity: 0.8;
    grid-column: 2;
    grid-row: 2;
  }
}

.big-floppa {
  margin-top: 30px;
  padding: 60px 20px;
  background-color: #37383d;
  color: #fff;
  text-align: center;

  &__header {
    font-size: 2.4rem;
    max-width: 700px;
    margin: auto;
  }

  &__btn {
    color: #000;
    font-size: 1.2rem;
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 30px;
  }
}

.footer {
  padding: 40px 10px;
  text-align: center;
  background-color: #37383d;
  color: #fff;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
  }

  &__item {
    margin: 8px;
  }

  &__link {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
  }

  &__copy {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
  }
}

@import '_media';
