@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap');

@import '_variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.map-body {
  width: 100vw;
  height: 45%;
  transition: height 0.4s ease-in;

  &_fullsize {
    height: 100%;
  }
}

.sidebar {
  width: 100vw;
  height: 55%;
  overflow-y: auto;
  background-color: $color-dark-1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-x: hidden;

  &__logo {
    width: 80px;
    margin: 0px auto 15px auto;
  }
}

.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  background-color: $color-dark-2;
  row-gap: 5px;
  column-gap: 10px;
  height: 88.2px;
  padding: 12px 10px;
  border-radius: 5px;
  margin: 7px 0px;
  color: $color-light-2;
  transition: transform 0.3s ease;

  &_filled {
    grid-template-columns: repeat(4, auto);
    row-gap: 12px;
    column-gap: unset;
    user-select: none;
    cursor: pointer;
  }

  &__type-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &_rows-span {
      grid-row: 1 / span 2;
    }
  }

  &__input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    font-family: inherit;
    font-weight: 500;
    user-select: none;
  }

  &__input {
    width: 70px;
    padding: 2px 10px;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 5px;
    background-color: $color-light-3;
    outline: none;

    &_invalid {
      border-color: rgb(245, 16, 16);
    }

    &:focus {
      background-color: #fff;
    }

    &::placeholder {
      font-size: 0.9rem;
    }
  }

  &__type {
    width: 100px;
    padding: 2px 7px;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 5px;
    background-color: $color-light-3;
    outline: none;
  }

  &__option {
    width: 80px;
    font-size: 1rem;
  }

  &__header {
    display: inline-block;
    grid-column: 1 / span 4;
  }
}

.stats {
  width: fit-content;
  font-size: 1.2rem;
  white-space: nowrap;
  margin: 0px 2px;

  &__icon {
    font-size: 1rem;
  }

  &__value {
    margin: 0px 2px;
  }

  &__unit {
    font-size: 0.8rem;
    opacity: 0.8;
  }
}

.footer {
  &__text {
    color: $color-light-2;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $color-light-1;
  }
}

.mapPopup {
  position: relative;
  z-index: 500;
  width: fit-content;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  padding: 15px 34px 15px 30px;
  border-radius: 5px;
  background-color: #fff;
  cursor: default;

  &__text {
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;

    &:before {
      content: '💡';
      position: absolute;
      left: -22px;
    }
  }

  &__close {
    position: absolute;
    top: 2px;
    right: 0px;
    padding: 0px 10px;
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    border-style: none;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }
}

.leaflet-popup {
  border-left-style: none !important;

  &-content-wrapper {
    background-color: $color-dark-1;
    color: $color-light-2;
    border-radius: 8px;
    border-left: 4px solid;
    border-color: inherit;
  }

  &-content {
    margin: 10px 20px 10px 10px;
    font-weight: 300;
  }

  &-tip {
    background-color: $color-dark-1;
  }
}

@import '_utilities';
